Repository DEPthes/3rd-MVP-NS-Web, pull requests merged in 2024-08, with the labels that each got.

#6 [fix] svg 파일 오류 수정
  package-lock.json
  package.json
  src/index.css
  svg.d.ts
  tsconfig.app.json
  vite.config.ts
Labels: 🐞 BugFix

#10 [feat] 로그인 페이지 UI 제작
  src/Router.tsx
  src/components/login/LoginButton.tsx
  src/components/login/LoginCheckBox.tsx
  src/components/login/LoginInput.tsx
  src/components/login/SignupButton.tsx
  src/index.css
  src/pages/LoginPage.tsx
  src/pages/SignupPage.tsx
  src/styles/layout/HeaderStyle.ts
  src/styles/login/LoginButtonStyle.ts
  src/styles/login/LoginCheckBoxStyle.ts
  src/styles/login/LoginInputStyle.ts
  src/styles/login/LoginPageStyle.ts
  src/styles/login/SignupButtonStyle.ts
Labels: ✨ Feature, 🎨 Html&css

#13 [feat] 회원가입 페이지 UI
  src/assets/icons/FieldCancel.svg
  src/components/button/DarkButton.tsx
  src/components/button/LightButton.tsx
  src/components/layout/BackDrop.tsx
  src/components/modal/SignupModal.tsx
  src/components/signup/ProfileUpload.tsx
  src/components/signup/SignupInput.tsx
  src/index.css
  src/pages/SignupPage.tsx
  src/styles/button/DarkButtonStyle.ts
  src/styles/button/LightButtonStyle.ts
  src/styles/layout/BackDropStyle.ts
  src/styles/modal/SignupModalStyle.ts
  src/styles/signup/ProfileUploadStyle.ts
  src/styles/signup/SignupInputStyle.ts
  src/styles/signup/SignupPageStyle.ts
Labels: ✨ Feature, 🎨 Html&css

#15 [feat] N보고서 페이지 UI
  src/assets/dummy/SummaryImage.png
  src/assets/icons/PrevBtn.svg
  src/components/report/BestItem.tsx
  src/components/report/DateNavigator.tsx
  src/index.css
  src/main.tsx
  src/pages/ReportPage.tsx
  src/styles/login/LoginPageStyle.ts
  src/styles/report/BestItemStyle.ts
  src/styles/report/DateNavigatorStyle.ts
  src/styles/report/ReportPageStyle.ts
  src/types/report.ts
Labels: ✨ Feature, 🎨 Html&css

#16 [feat] 메뉴바 반응형 제작
  src/assets/icons/HamMenu.svg
  src/assets/icons/HamMenuM.svg
  src/assets/icons/HamMenuT.svg
  src/components/layout/BackDrop.tsx
  src/components/layout/Header.tsx
  src/hooks/Media.tsx
  src/hooks/useMediaQuery.ts
  src/hooks/useNSMediaQuery.ts
  src/index.css
  src/styles/layout/HeaderStyle.ts
Labels: ✨ Feature, 🎨 Html&css

#21 [feat] 로그인, 회원가입 페이지 API 연동
  package-lock.json
  package.json
  src/Router.tsx
  src/apis/auth/getNickname.ts
  src/apis/auth/getUsername.ts
  src/apis/auth/postSignin.ts
  src/apis/auth/postSignout.ts
  src/apis/auth/postSignup.ts
  src/apis/board/.gitkeep
  src/apis/customApi.ts
  src/apis/theme/.gitkeep
  src/apis/user/.gitkeep
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/modal/LoginModal.tsx
  src/components/signup/ProfileUpload.tsx
  src/main.tsx
  src/pages/LoginPage.tsx
  src/pages/SignupPage.tsx
  src/recoil/login.ts
  src/styles/login/LoginPageStyle.ts
  src/styles/modal/LoginModalStyle.ts
  src/utils/handleUnauthorized.ts
  src/vite-env.d.ts
Labels: ✨ Feature, 🔗 API

#22 [feat] 기본 프로필 추가
  src/assets/images/Profile.png
  src/pages/SignupPage.tsx
Labels: 🎨 Html&css

#23 [feat] N 보고서 UI 수정
  src/components/report/BestItem.tsx
  src/components/report/DateNavigator.tsx
  src/hooks/Media.tsx
  src/hooks/useNSMediaQuery.ts
  src/styles/layout/HeaderStyle.ts
  src/styles/report/BestItemStyle.ts
  src/types/report.ts
Labels: ✨ Feature, 🎨 Html&css

#24 [feat] 모바일, 태블릿 사이즈 같은 경우 추가
  src/components/layout/Header.tsx
  src/hooks/Media.tsx
  src/hooks/useNSMediaQuery.ts
  src/styles/layout/HeaderStyle.ts
Labels: 🎨 Html&css

#25 [feat] 폰트 스타일 추가
  src/index.css
Labels: 🎨 Html&css

#26 [feat] 로그인 페이지 반응형 작업
  src/assets/icons/InputCancel.svg
  src/components/login/LoginCheckBox.tsx
  src/components/login/LoginInput.tsx
  src/index.css
  src/pages/LoginPage.tsx
  src/styles/button/DarkButtonStyle.ts
  src/styles/button/LightButtonStyle.ts
  src/styles/layout/HeaderStyle.ts
  src/styles/layout/LayoutStyle.ts
  src/styles/login/LoginButtonStyle.ts
  src/styles/login/LoginCheckBoxStyle.ts
  src/styles/login/LoginInputStyle.ts
  src/styles/login/LoginPageStyle.ts
  src/styles/login/SignupButtonStyle.ts
  vite.config.ts
Labels: ✨ Feature, 🎨 Html&css

#27 [feat] 회원가입 페이지 반응형 작업
  src/components/button/DarkButton.tsx
  src/components/button/LightButton.tsx
  src/components/modal/LoginModal.tsx
  src/components/modal/SignupModal.tsx
  src/components/signup/ProfileUpload.tsx
  src/components/signup/SignupInput.tsx
  src/index.css
  src/styles/button/DarkButtonStyle.ts
  src/styles/button/LightButtonStyle.ts
  src/styles/modal/LoginModalStyle.ts
  src/styles/modal/SignupModalStyle.ts
  src/styles/signup/ProfileUploadStyle.ts
  src/styles/signup/SignupInputStyle.ts
  src/styles/signup/SignupPageStyle.ts
Labels: ✨ Feature, 🎨 Html&css

#28 [feat] 반응형 배경 이미지 추가
  src/assets/images/BackgroundMobile.svg
  src/assets/images/BackgroundTablet.svg
  src/styles/layout/LayoutStyle.ts
Labels: 🎨 Html&css

#29 [feat] N보고서 반응형 UI 추가
  src/components/report/DateNavigator.tsx
  src/index.css
  src/pages/ReportPage.tsx
  src/styles/report/DateNavigatorStyle.ts
  src/styles/report/ReportPageStyle.ts
Labels: ✨ Feature, 🎨 Html&css

#33 [feat] N보고서 반응형 UI 추가
  src/components/report/BestItem.tsx
  src/pages/ReportPage.tsx
  src/styles/report/BestItemStyle.ts
  src/styles/report/ReportPageStyle.ts
Labels: 🎨 Html&css

#37 [feat] refreshToken 발급 코드 추가
  src/apis/customApi.ts
  src/components/button/DarkButton.tsx
  src/components/button/LightButton.tsx
  src/index.css
  src/styles/button/DarkButtonStyle.ts
  src/styles/button/LightButtonStyle.ts
  src/styles/report/BestItemStyle.ts
Labels: ✨ Feature, 🎨 Html&css, 🔗 API

#39 [feat] N 보고서 페이지 API 연동
  src/Router.tsx
  src/apis/report/getReport.ts
  src/components/layout/Header.tsx
  src/components/report/BestItem.tsx
  src/components/report/DateNavigator.tsx
  src/pages/ReportPage.tsx
  src/styles/report/ReportPageStyle.ts
  src/types/report.ts
  src/utils/handleUnauthorized.ts
Labels: ✨ Feature, 🎨 Html&css, 🔗 API

#40 [feat] 페이지네이션 컴포넌트 제작
  index.html
  public/Logo.png
  public/vite.svg
  src/Router.tsx
  src/assets/icons/PrevBtnMini.svg
  src/components/ex/ExItem.tsx
  src/components/pagination/Pagination.tsx
  src/pages/ExPage.tsx
  src/styles/ex/ExItemStyle.ts
  src/styles/ex/ExPageStyle.ts
  src/styles/pagination/PaginationStyle.ts
  src/types/ex.ts
  src/types/pagination.ts
Labels: ✨ Feature, 🎨 Html&css

#41 [feat] N 보고서 API 수정 및 폰트 스타일 추가
  src/index.css
  src/pages/ReportPage.tsx
  src/types/report.ts
Labels: 🎨 Html&css, 🔗 API

#38 [feat] mainpage
  src/assets/images/arrow.svg
  src/components/layout/Header.tsx
  src/components/main/IntroductionContainer.tsx
  src/components/main/IntroductionContent.tsx
  src/components/main/ServiceContent.tsx
  src/components/main/UsageContainer.tsx
  src/index.css
  src/pages/MainPage.tsx
  src/styles/main/IntroductionContainerStyle.ts
  src/styles/main/IntroductionContentStyle.ts
  src/styles/main/MainPageStyle.ts
  src/styles/main/ServiceContentStyle.ts
  src/styles/main/UsageContainerStyle.ts
Labels: ✨ Feature, 🎨 Html&css

#35 [feat] mypage
  package-lock.json
  package.json
  src/apis/user/getBoard.ts
  src/apis/user/getLikeBoard.ts
  src/apis/user/getLikeBoardSearch.ts
  src/apis/user/getLikeTheme.ts
  src/apis/user/getLikeThemeSearch.ts
  src/apis/user/getSearch.ts
  src/apis/user/getUser.ts
  src/apis/user/patchNickname.ts
  src/apis/user/patchProfile.ts
  src/apis/user/postPassword.ts
  src/assets/icons/FieldCancelRed.svg
  src/assets/images/empty_character.svg
  src/components/likedtopic/SortableTopicList.tsx
  src/components/likedtopic/TopicItem.tsx
  src/components/likedtopic/TopicList.tsx
  src/components/mypost/EmptyMessage.tsx
  src/components/mypost/Header.tsx
  src/components/mypost/PostItem.tsx
  src/components/mypost/PostList.tsx
  src/components/mypost/SearchInput.tsx
  src/components/mypost/SortablePostList.tsx
  src/components/pagination/Pagination.tsx
  src/components/profile/ChangeNicknameModal.tsx
  src/data/postData.ts
  src/index.css
  src/pages/LikedTopicPage.tsx
  src/pages/MyLikedPostPage.tsx
  src/pages/MyPostPage.tsx
  src/pages/ProfilePage.tsx
  src/styles/likedtopic/TopicItemStyle.ts
  src/styles/mypost/EmptyMessageStyle.ts
  src/styles/mypost/HeaderStyle.ts
  src/styles/mypost/MyPostPageStyle.ts
  src/styles/mypost/PostItemStyle.ts
  src/styles/mypost/SearchInputStyle.ts
  src/styles/profile/ChangeNicknameModalStyle.ts
  src/styles/profile/ProfilePageStyle.ts
  src/types/likedtopic/topic.ts
  src/types/mylikedpost/likedpost.ts
  src/types/mypost/post.ts
  src/types/profile/TUserData.ts
Labels: ✨ Feature, 🎨 Html&css, 🔗 API

#34 [feat] scenario
  package-lock.json
  package.json
  public/dummyData.json
  src/Router.tsx
  src/apis/board/boardLike.ts
  src/apis/board/deleteBoard.ts
  src/apis/board/getBoard.ts
  src/apis/board/postDraft.ts
  src/apis/board/postPublish.ts
  src/apis/theme/getList.ts
  src/apis/theme/getSearch.ts
  src/apis/theme/getTheme.ts
  src/apis/theme/getToday.ts
  src/apis/theme/postLike.ts
  src/apis/user/getProfile.ts
  src/components/pagination/Pagination.tsx
  src/pages/LoginPage.tsx
  src/pages/OtherPersonPage.tsx
  src/pages/ScenarioPage.tsx
  src/pages/ScenarioTitlePage.tsx
  src/pages/SelectTitleDetail.tsx
  src/pages/SenarioDetailPage.tsx
  src/pages/TopicDetailPage.tsx
  src/styles/scenario/OtherPersonPageStyle.ts
  src/styles/scenario/ScenarioPageStyle.ts
  src/styles/scenario/ScenarioTitlePageStyle.ts
  src/styles/scenario/SelectTitleDetailStyle.ts
  src/styles/scenario/SenarioDetailPageStyle.ts
  src/styles/scenario/TopicDetailPageStyle.ts
  src/types/mytype.ts
Labels: ✨ Feature, 🎨 Html&css, 🔗 API

#42 [feat] 메인페이지 UI 수정
  src/Router.tsx
  src/assets/icons/MainLeft.svg
  src/assets/icons/MainRight.svg
  src/assets/images/Background3.svg
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/main/IntroductionContainer.tsx
  src/components/main/IntroductionContent.tsx
  src/components/main/ServiceContent.tsx
  src/components/main/UsageContainer.tsx
  src/index.css
  src/pages/MainPage.tsx
  src/recoil/header.ts
  src/styles/layout/HeaderStyle.ts
  src/styles/layout/LayoutStyle.ts
  src/styles/main/IntroductionContainerStyle.ts
  src/styles/main/IntroductionContentStyle.ts
  src/styles/main/MainPageStyle.ts
  src/styles/main/ServiceContentStyle.ts
  src/styles/main/UsageContainerStyle.ts
  src/styles/mypost/MyPostPageStyle.ts
Labels: ✨ Feature, 🎨 Html&css

#43 [feat] api 연결, 일부 css 수정
  src/pages/OtherPersonPage.tsx
  src/pages/ScenarioTitlePage.tsx
  src/pages/SelectTitleDetail.tsx
  src/pages/TopicDetailPage.tsx
  src/styles/scenario/SelectTitleDetailStyle.ts
  src/styles/scenario/TopicDetailPageStyle.ts
Labels: ✨ Feature, 🎨 Html&css, 🔗 API

#44 Feat/#1 scenario
  src/styles/scenario/SenarioDetailPageStyle.ts
Labels: ✨ Feature, 🔗 API

#46 [feat] 나였다면 UI 수정
  src/Router.tsx
  src/apis/board/getBoard.ts
  src/apis/theme/getTheme.ts
  src/apis/user/getBoard.ts
  src/apis/user/getLikeBoard.ts
  src/apis/user/getLikeBoardSearch.ts
  src/apis/user/getLikeTheme.ts
  src/apis/user/getLikeThemeSearch.ts
  src/apis/user/getRanking.ts
  src/apis/user/getSearch.ts
  src/components/likedtopic/TopicItem.tsx
  src/components/mypost/Header.tsx
  src/components/mypost/PostItem.tsx
  src/components/mypost/PostList.tsx
  src/components/pagination/Pagination.tsx
  src/components/profile/ChangeNicknameModal.tsx
  src/components/ranking/RankingRow.tsx
  src/pages/LikedTopicPage.tsx
  src/pages/MyLikedPostPage.tsx
  src/pages/MyPostPage.tsx
  src/pages/ProfilePage.tsx
  src/pages/RankingPage.tsx
  src/pages/ReportPage.tsx
  src/pages/ScenarioPage.tsx
  src/pages/ScenarioTitlePage.tsx
  src/pages/SelectTitleDetail.tsx
  src/pages/SenarioDetailPage.tsx
  src/pages/TopicDetailPage.tsx
  src/styles/mypost/HeaderStyle.ts
  src/styles/mypost/MyPostPageStyle.ts
  src/styles/mypost/PostItemStyle.ts
  src/styles/profile/ProfilePageStyle.ts
  src/styles/ranking/RankingPageStyle.ts
  src/styles/scenario/ScenarioTitlePageStyle.ts
  src/styles/scenario/SelectTitleDetailStyle.ts
  src/styles/scenario/SenarioDetailPageStyle.ts
  src/styles/scenario/TopicDetailPageStyle.ts
  src/types/mytype.ts
Labels: ✨ Feature, 🎨 Html&css, 🔗 API

#47 [feat] 경로 수정
  src/pages/SenarioDetailPage.tsx
Labels: 🎨 Html&css

#48 [feat] 나였다면 작성 페이지 지난 날짜 조회 추가
  src/apis/theme/getThemePast.ts
  src/components/report/BestItem.tsx
  src/pages/ReportPage.tsx
  src/pages/SelectTitleDetail.tsx
  src/pages/SenarioDetailPage.tsx
  src/styles/layout/HeaderStyle.ts
  src/styles/scenario/SelectTitleDetailStyle.ts
  src/types/report.ts
Labels: ✨ Feature, 🎨 Html&css, 🔗 API

#52 [feat] 자동 로그인 수정
  src/Router.tsx
  src/apis/customApi.ts
  src/components/layout/Header.tsx
  src/pages/LoginPage.tsx
  src/pages/ProfilePage.tsx
  src/styles/scenario/ScenarioDetailPageStyle.ts
Labels: 🔗 API

#53 [feat] 모바일에서 스크롤바 숨기기
  src/index.css
Labels: 🎨 Html&css

#56 [feat] N력 랭킹 UI 수정
  index.html
  src/apis/user/getRanking.ts
  src/components/ranking/RankingRow.tsx
  src/components/ranking/Top3User.tsx
  src/index.css
  src/pages/RankingPage.tsx
  src/pages/ReportPage.tsx
  src/pages/ScenarioWritePage.tsx
  src/styles/mypost/MyPostPageStyle.ts
  src/styles/ranking/RankingPageStyle.ts
  src/styles/ranking/RankingRowStyle.ts
  src/styles/ranking/ToggleBarStyle.ts
  src/styles/ranking/Top3Uer.Style.ts
  src/styles/report/BestItemStyle.ts
  src/styles/report/ReportPageStyle.ts
  src/styles/scenario/ScenarioWritePageStyle.ts
  src/types/ranking/user.ts
Labels: 🎨 Html&css

#57 [feat] 게시글 삭제 성공 모달창 추가
  src/components/modal/DeleteSuccessModal.tsx
  src/pages/ScenarioDetailPage.tsx
Labels: ✨ Feature, 🎨 Html&css

#58 [feat] 맞춤법 검사 제거
  src/components/mypost/SearchInput.tsx
  src/components/profile/ChangeNicknameModal.tsx
  src/components/ranking/SearchNicknameInput.tsx
  src/pages/ScenarioEditPage.tsx
  src/pages/ScenarioTopicPage.tsx
  src/pages/ScenarioWritePage.tsx
Labels: 🎨 Html&css

#60 [fix] QA 피드백 반영 및 수정
  index.html
  src/pages/ScenarioWritePage.tsx
Labels: 🐞 BugFix

#61 [fix] 폰트 추가, 텍스트 및 간격 수정
  src/index.css
  src/pages/ScenarioPage.tsx
  src/styles/main/MainPageStyle.ts
Labels: 🎨 Html&css

#62 [fix] 플레이스 홀더, 모달창 텍스트 수정
  src/apis/board/postPublish.ts
  src/components/modal/PostSuccessModal.tsx
  src/pages/ScenarioEditPage.tsx
  src/pages/ScenarioWritePage.tsx
Labels: 🎨 Html&css

#63 [fix] 나였다면 게시글 작성 완료 시 모달창 텍스트 수정
  src/apis/board/postPublish.ts
  src/components/modal/PostSuccessModal.tsx
  src/pages/ScenarioDetailPage.tsx
  src/pages/ScenarioEditPage.tsx
  src/pages/ScenarioWritePage.tsx
  src/styles/scenario/ScenarioDetailPageStyle.ts
  src/styles/scenario/ScenarioWritePageStyle.ts
Labels: 🎨 Html&css, 🔗 API

#64 [fix] 글씨체 및 페이지네이션 간격 수정
  src/styles/likedtopic/TopicItemStyle.ts
  src/styles/mypost/HeaderStyle.ts
  src/styles/mypost/PostItemStyle.ts
  src/styles/pagination/PaginationStyle.ts
Labels: 🎨 Html&css

#65 [fix] 컴포넌트 간격 수정
  src/styles/likedtopic/TopicItemStyle.ts
  src/styles/mypost/PostItemStyle.ts
Labels: 🎨 Html&css

#66 [fix] 로그인 모달창 안뜨는 문제 해결
  src/Router.tsx
  src/components/layout/Layout.tsx
  src/pages/LoginPage.tsx
  src/pages/ProfilePage.tsx
Labels: 🐞 BugFix

#67 [fix] 베스트글 수정 및 삭제 불가능 안내 추가
  src/pages/ScenarioDetailPage.tsx
  src/styles/scenario/ScenarioDetailPageStyle.ts
  src/types/mytype.ts
Labels: ✨ Feature, 🎨 Html&css, 🔗 API

#69 [fix] N 보고서 이전 버튼 조건 추가
  src/components/report/DateNavigator.tsx
Labels: ✨ Feature
